.footer-container {
  font-size: x-small;
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;

  @media (max-width: 480px) {
    flex-direction: column;
  }
}

.footer-item:nth-child(1) {
  max-width: 50%;
}

.footer-item {
  padding: 0.5rem 1rem;
}

.copyright {
  font-size: x-small;
  margin: 1rem 1rem;
}
