footer {
  margin: 1rem auto;
  padding: 0 1rem;
}

footer h2 {
  margin-bottom: 1rem;
}

footer li {
  font-style: normal;
}

.footer-container {
  font-size: 0.75rem;
  display: flex;
  justify-content: space-between;

  @media (max-width: 480px) {
    flex-direction: column;
  }
}

.footer-container p {
  font-size: 0.75rem;
}

.footer-item:nth-child(1) {
  max-width: 50%;
}

.footer-item {
  padding: 0.5rem 1rem;
}

.copyright {
  margin: 1rem 1rem;
  font-size: 0.75rem;
}
