.header {
  width: 100%;
  display: block;
  background-color: white;
}
.inner_header {
  width: 1000px;
  height: 100%;
  display: block;
  margin: 0 auto;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.nav-links > :first-child {
  margin-right: auto;
}
.button {
  background-color: black;
  border-radius: 1em;
  color: white;
  padding: 8px 16px;
  border-radius: 100px;
  border: 1px solid;
  text-wrap: nowrap;
}

.button:hover {
  background-color: #e6e6e6;
  color: rgb(27, 27, 27);
  border: solid black 1px;
}
.button a {
  text-decoration: none;
}
